<div class="panel">
  <h1>INDEX DE ITEMS</h1>

  <table class="table">
    <thead>
    <tr>
      <th>Título</th>
      <th>Descrição</th>
      <th />
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Comprar Carne</td>
      <td>E peixe também</td>
      <td style="text-align: right">
        <a class="button">Excluir</a>
        <a class="button">Editar</a>
        <a class="button">Ver</a>
      </td>
    </tr>
    <tr>
      <td>Comprar Leite</td>
      <td>E queijo também</td>
      <td style="text-align: right">
        <a class="button">Excluir</a>
        <a class="button">Editar</a>
        <a class="button">Ver</a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="table-footer">
    <a class="button">Adicionar</a>
  </div>
</div>
